footer {
  font-size: 11px;
  margin: 30px 0;
  text-align: center;
  color: white;
}
footer a {
  color: #fff1c1;
}
footer a:hover {
  color: white;
  text-decoration: none;
}
body {
  background: #808b97;
}
.App {
  max-width: 960px;
  margin: 0 auto;
}
.App-header {
  margin: 30px 0;
}
